<div class="header">
    <h2>Local Storage</h2>
</div>
<table>
    <tr>
        <td>Nama</td>
        <td>:</td>
        <td><input type="text" [(ngModel)]="nama"></td>
    </tr>
    <tr>
        <td>Jurusan</td>
        <td>:</td>
        <td><input type="text" [(ngModel)]="jurusan"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><button (click)="simpanData()">Simpan</button></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th>Nama</th>
        <th>Jurusan</th>
    </tr>
    <tr *ngFor="let data of dataSiswa">
        <td align="center">{{data.nama}}</td>
        <td align="center">{{data.jurusan}}</td>
    </tr>
</table>
